flippy {
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 2000px;
}
flippy flippy-front {
    /*float: none;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
flippy flippy-back {
    /*float: none;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
flippy.r2l flippy-back, flippy.l2r flippy-back {
    -webkit-transform: rotateX(0deg) rotateY(-180deg);
    -moz-transform: rotateX(0deg) rotateY(-180deg);
    -ms-transform: rotateX(0deg) rotateY(-180deg);
    transform: rotateX(0deg) rotateY(-180deg);
}
flippy.b2t flippy-back, flippy.t2b flippy-back {
    -webkit-transform: rotateX(-180deg) rotateY(0deg);
    -moz-transform: rotateX(-180deg) rotateY(0deg);
    -ms-transform: rotateX(-180deg) rotateY(0deg);
    transform: rotateX(-180deg) rotateY(0deg);
}
flippy.flipped flippy-front {
    z-index: 900;
}
flippy.flipped flippy-back {
    z-index: 1000;
}
flippy.flipped.l2r flippy-front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
flippy.flipped.l2r flippy-back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
flippy.flipped.r2l flippy-front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
flippy.flipped.r2l flippy-back {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
}
flippy.flipped.t2b flippy-front {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
flippy.flipped.t2b flippy-back {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
flippy.flipped.b2t flippy-front {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
flippy.flipped.b2t flippy-back {
    -webkit-transform: rotateX(-360deg);
    -moz-transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
}