html, body {
    overflow-x: hidden;
}

header {
    height: 65px;
    z-index: 1000;
}

.container {
    position: relative;
    min-height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: -46px;
}

footer {
    height: 46px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.55);
}

.align-middle {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.white {
    color: #ffffff;
}

.background-cover {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
    /*padding: 20px;*/
    background-color: rgba(34, 34, 34, 0.2);
    
    transition-duration: 5s;
    transition-timing-function: linear;
}

.through {
    opacity: 0.95;
}

.solid {
    opacity: 1;
}

.ui.fixed.menu > *, .ui.fixed.menu > .menu > .item {
    line-height: 40px;
    vertical-align: middle;
}

.pin:hover, .pin.active {
    color: #d95c5c !important;
}