<div class="background-cover"></div>
<div ng-app="hackboardApp" ng-controller="BoardCtrl">
  <div class="ui right vertical inverted sidebar menu" id="page-sidebar">
    <div class="item">
      <div class="ui icon header inverted text-center" style="display: block; margin-top: 14px;">
        <img class="ui tiny circular image middle aligned" ng-src="http://www.gravatar.com/avatar/{{ current_user.avatar }}s=200" >

        <div class="content">
          <span class="editable" contenteditable ng-model="current_user.name"></span>
          <div class="sub header">
            <div class="ui circular label">
              {{ current_user.shortname }}
            </div>
          </div>
        </div>
      </div>
      <div class="menu">
        <!--<a class="item">-->
          <!--<i class="settings icon"></i> Settings-->
        <!--</a>-->
        <a class="item" data-method="post" href="/api/user/logout">
          <i class="sign out icon"></i> Log out
        </a>
      </div>
    </div>
    <a class="item" href="/boards" data-no-turbolink>
      <i class="grid layout icon"></i> All boards
    </a>

    <div class="item">
      <div class="ui circular labels">
        <div class="ui label" ng-repeat="user in board.users" ng-if="user.id != board.user_id">
          {{ user.name }}
          <i class="delete icon" ng-click="removeBoardMember(user.id);$event.preventDefault();" ></i>
        </div>
      </div>
      <div class="ui inverted transparent left icon input">
        <input type="text" placeholder="" ng-model="selpeople">
        <i class="search icon"></i>
      </div>
      <div class="ui fluid blue small button" ng-click="addmember()" >Add Member</div>
    </div>
    <!--<div class="item">-->
      <!--<div class="ui styled fluid accordion black">-->
        <!--<div class="title">-->
          <!--<i class="alarm icon"></i>-->
          <!--Notification-->
        <!--</div>-->
        <!--<div class="content">-->
          <!--<div class="ui toggle checkbox">-->
            <!--<input type="checkbox" name="public">-->
            <!--<label>Enable</label>-->
          <!--</div>-->
          <!--<div class="ui segment grouped fields">-->
            <!--<div class="field">-->
              <!--<div class="ui radio checkbox">-->
                <!--<input type="radio" name="frequent" checked="checked" disabled="disabled">-->
                <!--<label>Only mine task</label>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="field">-->
              <!--<div class="ui radio checkbox">-->
                <!--<input type="radio" name="frequent" disabled="disabled">-->
                <!--<label>Any task</label>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="title">-->
          <!--<i class="protect icon"></i>-->
          <!--Permission-->
        <!--</div>-->
        <!--<div class="content">-->
          <!--<table class="ui four column very basic small compact table">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<th></th>-->
              <!--<th class="center aligned">Dev</th>-->
              <!--<th class="center aligned">Admin</th>-->
              <!--<th class="center aligned">Report</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
              <!--<td class="center aligned">-->
                <!--<div class="ui circular label">-->
                  <!--CH-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="dev"><label></label>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="admin"><label></label>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="report"><label></label>-->
                <!--</div>-->
              <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="center aligned">-->
                <!--<div class="ui circular label">-->
                  <!--G+-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="dev"><label></label>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="admin"><label></label>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="report"><label></label>-->
                <!--</div>-->
              <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="center aligned">-->
                <!--<div class="ui circular label">-->
                  <!--YC-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="dev"><label></label>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="admin"><label></label>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="report"><label></label>-->
                <!--</div>-->
              <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="center aligned">-->
                <!--<div class="ui circular label">-->
                  <!--BH-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="dev"><label></label>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="admin"><label></label>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="collapsing center aligned">-->
                <!--<div class="ui fitted checkbox">-->
                  <!--<input type="checkbox" name="report"><label></label>-->
                <!--</div>-->
              <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<a class="item">-->
      <!--<i class="cube icon"></i> Archive this board-->
    <!--</a>-->
  </div>
  <div class="ui black big launch left attached button" id="page-launch-button">
    <i class="content icon"></i>
  </div>
  <header class="ui main top borderless fixed inverted large menu ui grid" id="page-menu">
    <a class="item" ng-click="titleClick(board.id)">
      <i class="rocket icon"></i> {{ board.name }}
    </a>
    <!--<div class="item ui tablet only computer only row column">-->
      <!--<div class="ui buttons ui-popup" id="parentButton">-->
        <!--<div class="ui icon button yellow inverted">-->
          <!--<i class="linkify icon"></i>-->
          <!--Parent-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="ui popup">-->
        <!--Nobody here!-->
      <!--</div>-->
      <!--<div class="ui buttons ui-popup" id="stashButton">-->
        <!--<div class="ui icon button orange inverted">-->
          <!--<i class="archive icon"></i>-->
          <!--Stash-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="ui popup">-->
        <!--Nothing here!-->
      <!--</div>-->
      <!--<div class="ui buttons ui-popup" id="statusButton">-->
        <!--<div class="ui icon button blue inverted">-->
          <!--<i class="dashboard icon"></i>-->
          <!--Status-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="ui wide popup ui-toggle">-->
        <!--<div class="ui-toggle-front">-->
          <!--<div class="ui column">-->
            <!--<div class="ui right floated circular icon button ui-edit-button">-->
              <!--<i class="edit icon"></i>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="ui header">-->
              <!--Types-->
            <!--</div>-->
            <!--<div class="text-center">-->
              <!--<div class="ui labels">-->
                <!--<div class="ui green label">-->
                  <!--View-->
                  <!--<div class="detail">-->
                    <!--1-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="ui blue label">-->
                  <!--Controller-->
                  <!--<div class="detail">-->
                    <!--0-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="ui red label">-->
                  <!--Model-->
                  <!--<div class="detail">-->
                    <!--0-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="ui yellow label">-->
                  <!--Docs-->
                  <!--<div class="detail">-->
                    <!--0-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="ui label">-->
                  <!--Untagged-->
                  <!--<div class="detail">-->
                    <!--0-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="ui pink label">-->
                  <!--Hurry-->
                  <!--<div class="detail">-->
                    <!--0-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="ui hidden divider"></div>-->
          <!--<div>-->
            <!--<div class="ui header">-->
              <!--Statistics-->
            <!--</div>-->
            <!--<div class="text-center">-->
              <!--<div class="ui mini horizontal statistic">-->
                <!--<div class="value">-->
                  <!--1/12-->
                <!--</div>-->
                <!--<div class="label">-->
                  <!--Work in progress-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="ui mini horizontal statistic">-->
                <!--<div class="value">-->
                  <!--0/1-->
                <!--</div>-->
                <!--<div class="label">-->
                  <!--Done-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="ui mini horizontal statistic">-->
                <!--<div class="value">-->
                  <!--1-->
                <!--</div>-->
                <!--<div class="label">-->
                  <!--Assign to-->
                  <!--<div class="ui circular label">-->
                    <!--CH-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="ui mini horizontal statistic">-->
                <!--<div class="value">-->
                  <!--1-->
                <!--</div>-->
                <!--<div class="label">-->
                  <!--Assign to-->
                  <!--<div class="ui circular label">-->
                    <!--G+-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="ui mini horizontal statistic">-->
                <!--<div class="value">-->
                  <!--1-->
                <!--</div>-->
                <!--<div class="label">-->
                  <!--Assign to-->
                  <!--<div class="ui circular label">-->
                    <!--YC-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="ui-toggle-back" style="display: none;">-->
          <!--<div class="ui column">-->
            <!--<div class="ui right floated circular icon button ui-back-button" >-->
              <!--<i class="arrow up icon"></i>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="ui header">-->
              <!--Types-->
            <!--</div>-->
            <!--<div>-->
              <!--<div class="ui input fluid">-->
                <!--<input type="text" placeholder="View, Controller, Untagged...">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="ui hidden divider"></div>-->
          <!--<div>-->
            <!--<div class="ui header">-->
              <!--Statistics-->
            <!--</div>-->
            <!--<div>-->
              <!--<div class="ui form">-->
                <!--<div class="field">-->
                  <!--<div class="ui labeled input">-->
                    <!--<div class="ui label">-->
                      <!--Max of Work in progress:-->
                    <!--</div>-->
                    <!--<input type="number" min="0" placeholder="ex: 10">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="ui buttons ui-popup" id="chartsButton">-->
        <!--<div class="ui icon button purple inverted">-->
          <!--<i class="bar chart icon"></i>-->
          <!--Charts-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="ui wide popup">-->
        <!--<div>-->
          <!--<div class="ui header">-->
            <!--Cumulative Flow Diagram-->
          <!--</div>-->
          <!--<div class="text-center"></div>-->
        <!--</div>-->
        <!--<div class="ui hidden divider"></div>-->
        <!--<div>-->
          <!--<div class="ui header">-->
            <!--Burn Down Chart-->
          <!--</div>-->
          <!--<div class="text-center"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </header>
  <div class="pusher" id="page-content">
    <div class="container thin-padding">
      <div class="ui basic segment ui-board">
        <div class="ui grid ui-board-content" id="board-content" as-sortable="flowSortOptions" ng-model="board.flows">
          <!-- multi flow view -->
          <div class="ui column ui-list ui-flip flip" id="sample-subflows-list" as-sortable-item ng-repeat="flow in board.flows">
            <div class="ui segment ui-list-wrapper ui-flip-front">
              <div class="ui medium header center aligned">
                <div class="ui-list-title" as-sortable-item-handle>
                  <span class="editable" contenteditable ng-model="flow.name"></span>
                </div>
                <div class="left aligned ui top attached mini label">
                  WIP
                  <div class="detail">
                    1/{{flow.max_task}}
                  </div>
                </div>
                <div class="right aligned ui top attached label">
                  <a>
                    <i class="add icon"></i>
                  </a>
                  <a class="ui-edit-button" baord-flow-edit-button>
                    <i class="edit icon"></i>
                  </a>
                </div>
              </div>
              <!-- Main Flow Loop -->
              <div class="ui grid middle aligned grid" ng-if="flow.flows.length>0">
                <!-- Sub Flow Loop-->
                <div class="column ui-list-subflow" ng-repeat="subflow in flow.flows">
                  <div class="ui small header text-center">
                    <span class="editable" contenteditable="true" ng-model="subflow.name"></span>
                  </div>
                  <div class="ui-list-content" as-sortable="taskSortOptions" ng-model="subflow.tasks">

                    <!-- begin Task -->
                    <div class="ui card ui-task" ng-click="taskClick(task.id)" ng-repeat="task in subflow.tasks" as-sortable-item>
                      <div class="content">
                        <div class="header">
                          <div class="ui-task-title" as-sortable-item-handle>
                            <i class="info blue icon"></i>
                            {{ task.name }}
                          </div>
                          <!--<div class="ui top right attached green label">-->
                            <!--View-->
                          <!--</div>-->
                        </div>
                        <div class="meta">
                          <p>updated {{ task.updated_at | timeAgo }}</p>

                          <p>{{ task.description }}</p>
                        </div>
                        <div class="description">
                          <div class="ui mini labels">
                            <div class="ui label">
                              <i class="calendar icon"></i> 2014/12/24
                            </div>
                            <div class="ui label">
                              <i class="list icon"></i> 1/1
                            </div>
                          </div>
                          <div class="right floated author">
                            <span>
                                <a class="ui circular label people" board-people-popup>
                                  CH
                                </a>

                                <div class="ui popup">
                                  <div class="item">
                                    <img class="ui avatar image" src="img/sample-avatar.jpg">
                                    Cheng-Han Wu
                                  </div>
                                </div>
                            </span>
                            <span>
                                <a class="ui circular label people" board-people-popup>
                                  G+
                                </a>

                                <div class="ui popup">
                                  <div class="item">
                                    <img class="ui avatar image" src="img/square-image.png">
                                    Chi-Cha Sun
                                  </div>
                                </div>
                            </span>
                            <span>
                                <a class="ui circular label people" board-people-popup>
                                  YC
                                </a>

                                <div class="ui popup">
                                  <div class="item">name
                                    <img class="ui avatar image" src="img/square-image.png">
                                    Yi-Chun Lin
                                  </div>
                                </div>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end of Task-->


                    <div class="ui small button ui-task-new" ng-click="newTask(subflow.id)">
                      <i class="add icon"></i> New Task
                    </div>
                  </div>
                  <!-- Emergency Task  -->
                  <div class="ui card ui-emergency-task" id="sample-emergency-task">
                    <div class="content">
                      <div class="header">
                        <div class="ui-task-title">
                          <i class="info blue icon"></i>
                          Static View
                        </div>
                        <div class="ui top right attached pink label">
                          Hurry
                        </div>
                      </div>
                      <div class="meta">
                        <p>updated 2 days ago</p>

                        <p>Use bootstrap to mock up static view.</p>
                      </div>
                      <div class="description">
                        <div class="ui mini labels">
                          <div class="ui label">
                            <i class="calendar icon"></i> 2014/12/24
                          </div>
                          <div class="ui label">
                            <i class="list icon"></i> 1/1
                          </div>
                        </div>
                        <div class="right floated author">
                                            <span>
                                                <a class="ui circular label people">
                                                  CH
                                                </a>

                                                <div class="ui popup">
                                                  <div class="item">
                                                    <img class="ui avatar image" src="img/sample-avatar.jpg">
                                                    Cheng-Han Wu
                                                  </div>
                                                </div>
                                            </span>
                                            <span>
                                                <a class="ui circular label people">
                                                  G+
                                                </a>

                                                <div class="ui popup">
                                                  <div class="item">
                                                    <img class="ui avatar image" src="img/square-image.png">
                                                    Chi-Cha Sun
                                                  </div>
                                                </div>
                                            </span>
                                            <span hackboard-calculate-list-width>
                                                <a class="ui circular label people">
                                                  YC
                                                </a>

                                                <div class="ui popup">
                                                  <div class="item">
                                                    <img class="ui avatar image" src="img/square-image.png">
                                                    Yi-Chun Lin
                                                  </div>
                                                </div>
                                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END OF EMERGENCY -->
                </div>
                <!--<div class="ui-vertical-divider" ng-if="$index != flow.flows.length-1"  ></div>-->
              </div>

              <!-- single flow -->
              <div class="ui-list-content" ng-if="flow.flows.length == 0" as-sortable ng-model="flow.tasks">
                <div class="ui card ui-task" ng-click="taskClick(task.id)" ng-repeat="task in flow.tasks" as-sortable-item>
                  <div class="content">
                    <div class="header">
                      <div class="ui-task-title" as-sortable-item-handle>
                        <i class="info blue icon"></i>
                        {{ task.name }}
                      </div>
                      <!--<div class="ui top right attached green label">-->
                        <!--View-->
                      <!--</div>-->
                    </div>
                    <div class="meta">
                      <p>updated {{ task.updated_at | timeAgo }}</p>

                      <p>{{ task.description }}</p>
                    </div>
                    <div class="description">
                      <div class="ui mini labels">
                        <!--<div class="ui label">-->
                          <!--<i class="calendar icon"></i> 2014/12/24-->
                        <!--</div>-->
                        <!--<div class="ui label">-->
                          <!--<i class="list icon"></i> 1/1-->
                        <!--</div>-->
                      </div>
                      <div class="right floated author">
                            <span>
                                <!--<a class="ui circular label people">-->
                                  <!--CH-->
                                <!--</a>-->

                                <!--<div class="ui popup">-->
                                  <!--<div class="item">-->
                                    <!--<img class="ui avatar image" src="img/sample-avatar.jpg">-->
                                    <!--Cheng-Han Wu-->
                                  <!--</div>-->
                                <!--</div>-->
                            <!--</span>-->
                            <!--<span>-->
                                <!--<a class="ui circular label people">-->
                                  <!--G+-->
                                <!--</a>-->

                                <!--<div class="ui popup">-->
                                  <!--<div class="item">-->
                                    <!--<img class="ui avatar image" src="img/square-image.png">-->
                                    <!--Chi-Cha Sun-->
                                  <!--</div>-->
                                <!--</div>-->
                            <!--</span>-->
                            <!--<span>-->
                                <!--<a class="ui circular label people">-->
                                  <!--YC-->
                                <!--</a>-->

                                <!--<div class="ui popup">-->
                                  <!--<div class="item">-->
                                    <!--<img class="ui avatar image" src="img/square-image.png">-->
                                    <!--Yi-Chun Lin-->
                                  <!--</div>-->
                                <!--</div>-->
                            <!--</span>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui small button ui-task-new" ng-click="newTask(flow.id)">
                  <i class="add icon"></i> New Task
                </div>
              </div>

            </div>
            <div class="ui segment ui-list-wrapper ui-flip-back"  style="display: none;">
              <div class="right aligned ui top attached label">
                <a class="ui-back-button" baord-flow-edit-button>
                  <i class="arrow up icon"></i>
                </a>
              </div>
              <div class="ui form">
                <div class="field">
                  <div class="ui labeled input">
                    <div class="ui label">
                      Max number of Task:
                    </div>
                    <input type="number" min="0" placeholder="ex: 10" ng-model="flow.max_task">
                  </div>
                </div>
                <div class="field">
                  <div class="ui labeled input">
                    <div class="ui label">
                      Max period of Task (days):
                    </div>
                    <input type="number" min="0" placeholder="ex: 5" ng-model="flow.max_day">
                  </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="field">
                  <div class="ui header">
                    Sub flows
                  </div>
                  <div class="ui input">
                    <input type="text" placeholder="Ongoing, Done" ng-value="flow.flows">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui column ui-list-new" id="list-new">
            <div class="ui small button" ng-click="newFlow()">
              <i class="add icon"></i> New List
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui modal" id="board-detail-modal">
    <i class="close icon"></i>
    <div class="ui header">
      <span class="editable" contenteditable ng-model="board.name"></span>
      <div class="sub header">
        <span class="editable" contenteditable ng-model="board.description"></span>
      </div>
    </div>
  </div>
  <!-- Task Modal -->
  <div class="ui modal" id="task-detail-modal">
    <i class="close icon"></i>

    <div class="ui header">
      <span class="editable" contenteditable ng-model="taskData.name" ></span>
      <div class="sub header">
        <span class="editable"contenteditable ng-model="taskData.description"></span>
      </div>
    </div>
    <div class="content">
      <div class="ui grid stackable two columns">
        <div class="eleven wide column description">
          <div class="ui dividing header">Time statistics</div>
          <blockquote>
            <div class="ui form">
              <div class="field">
                <div class="ui mini horizontal statistic">
                  <div class="value">
                    {{ taskData.created_at | date: "yyyy/MM/dd H:mm:ss" }}
                  </div>
                  <div class="label">
                    created this task
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui mini horizontal statistic">
                  <div class="value">
                    {{ taskData.updated_at | date: "yyyy/MM/dd H:mm:ss" }}
                  </div>
                  <div class="label">
                    last updated this task
                  </div>
                </div>
              </div>
              <!--<div class="field">-->
                <!--<div class="ui mini horizontal statistic">-->
                  <!--<div class="value">-->
                    <!--2 hours-->
                  <!--</div>-->
                  <!--<div class="label">-->
                    <!--already elapsed-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="field">-->
                <!--<div class="ui mini horizontal statistic">-->
                  <!--<div class="value">-->
                    <!--Not sure-->
                  <!--</div>-->
                  <!--<div class="label">-->
                    <!--estimated to complete-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="field">-->
                <!--<div class="ui mini horizontal statistic">-->
                  <!--<div class="value">-->
                    <!--Not yet-->
                  <!--</div>-->
                  <!--<div class="label">-->
                    <!--done this task-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="field">-->
                <!--<div class="ui mini horizontal statistic">-->
                  <!--<div class="value">-->
                    <!--Unknown-->
                  <!--</div>-->
                  <!--<div class="label">-->
                    <!--as the lead time-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="ui dividing header">-->
                <!--Cycle time-->
              <!--</div>-->
              <!--<div class="field">-->
                <!--<blockquote>-->
                  <!--<div class="field">-->
                    <!--<div class="ui mini horizontal statistic">-->
                      <!--<div class="value">-->
                        <!--2 hours-->
                      <!--</div>-->
                      <!--<div class="label">-->
                        <!--in the Development-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="field">-->
                    <!--<div class="ui mini horizontal statistic">-->
                      <!--<div class="value">-->
                        <!--Not yet-->
                      <!--</div>-->
                      <!--<div class="label">-->
                        <!--in the Done-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</blockquote>-->
              <!--</div>-->
            </div>
          </blockquote>
          <!--<div class="ui minimal comments">-->
            <!--<h3 class="ui dividing header">Comments</h3>-->

            <!--<div class="ui form">-->
              <!--<div class="field">-->
                <!--<div class="ui input">-->
                  <!--<input type="text" placeholder="Write some comment...">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="field">-->
                <!--<div class="ui button">-->
                  <!--Comment-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="comment">-->
              <!--<a class="avatar">-->
                <!--<img src="img/square-image.png">-->
              <!--</a>-->

              <!--<div class="content">-->
                <!--<a class="author">-->
                  <!--Chi-Cha Sun-->
                <!--</a>-->

                <!--<div class="metadata">-->
                  <!--<span class="date">Today at 5:42PM</span>-->
                <!--</div>-->
                <!--<div class="text">-->
                  <!--How artistic!-->
                <!--</div>-->
                <!--<div class="actions">-->
                  <!--<a class="reply">Reply</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="comment">-->
              <!--<a class="avatar">-->
                <!--<img src="img/square-image.png">-->
              <!--</a>-->

              <!--<div class="content">-->
                <!--<a class="author">Bo-Hong Li</a>-->

                <!--<div class="metadata">-->
                  <!--<span class="date">Yesterday at 12:30AM</span>-->
                <!--</div>-->
                <!--<div class="text">-->
                  <!--<p>This has been very useful for my research. Thanks as well!</p>-->
                <!--</div>-->
                <!--<div class="actions">-->
                  <!--<a class="reply">Reply</a>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="comments">-->
                <!--<div class="comment">-->
                  <!--<a class="avatar">-->
                    <!--<img src="img/square-image.png">-->
                  <!--</a>-->

                  <!--<div class="content">-->
                    <!--<a class="author">Yi-Chun Lin</a>-->

                    <!--<div class="metadata">-->
                      <!--<span class="date">Just now</span>-->
                    <!--</div>-->
                    <!--<div class="text">-->
                      <!--Elliot you are always so right :)-->
                    <!--</div>-->
                    <!--<div class="actions">-->
                      <!--<a class="reply">Reply</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="comment">-->
              <!--<a class="avatar">-->
                <!--<img src="img/sample-avatar.jpg">-->
              <!--</a>-->

              <!--<div class="content">-->
                <!--<a class="author">Cheng-Han Wu</a>-->

                <!--<div class="metadata">-->
                  <!--<span class="date">5 days ago</span>-->
                <!--</div>-->
                <!--<div class="text">-->
                  <!--Dude, this is awesome. Thanks so much-->
                <!--</div>-->
                <!--<div class="actions">-->
                  <!--<a class="reply">Reply</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <!--<div class="five wide column">-->
          <!--<div class="ui large vertical menu" style="width: 100% !important;">-->
            <!--<div class="item">-->
              <!--<div class="ui circular labels">-->
                <!--<div class="ui label">-->
                  <!--CH-->
                  <!--<i class="delete icon"></i>-->
                <!--</div>-->
                <!--<div class="ui label">-->
                  <!--G+-->
                  <!--<i class="delete icon"></i>-->
                <!--</div>-->
                <!--<div class="ui label">-->
                  <!--YC-->
                  <!--<i class="delete icon"></i>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="ui fluid dropdown labeled search icon button">-->
                <!--<i class="users icon"></i>-->
                <!--<span class="text" >{{ getUser(taskData.user_id) }}</span>-->

                <!--<div class="menu">-->
                  <!--<div class="item" ng-repeat="user in board.users">-->
                    <!--&lt;!&ndash;<img class="ui mini avatar image"  src="img/square-image.png">&ndash;&gt;-->
                    <!--{{ user.name }}-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--<img class="ui mini avatar image" src="img/square-image.png">-->
                    <!--Bo-Hong Li-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--<img class="ui mini avatar image" src="img/square-image.png">-->
                    <!--Yi-Chun Lin-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--<img class="ui mini avatar image" src="img/sample-avatar.jpg">-->
                    <!--Cheng-Han Wu-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="ui form">-->
            <!--<div class="field ui fluid dropdown labeled icon button">-->
              <!--<i class="tag icon"></i>-->
              <!--<span class="text">Select Type</span>-->

              <!--<div class="menu">-->
                <!--<div class="item">-->
                  <!--<div class="ui green empty circular label"></div>-->
                  <!--View-->
                <!--</div>-->
                <!--<div class="item">-->
                  <!--<div class="ui blue empty circular label"></div>-->
                  <!--Controller-->
                <!--</div>-->
                <!--<div class="item">-->
                  <!--<div class="ui red empty circular label"></div>-->
                  <!--Model-->
                <!--</div>-->
                <!--<div class="item">-->
                  <!--<div class="ui yellow empty circular label"></div>-->
                  <!--Docs-->
                <!--</div>-->
                <!--<div class="item">-->
                  <!--<div class="ui pink empty circular label"></div>-->
                  <!--Hurry-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="field ui fluid labeled icon button" style="text-align: left;">-->
              <!--<i class="checkmark box icon"></i>-->
              <!--<span class="text">Add Checklist</span>-->
            <!--</div>-->
            <!--<div class="field ui labeled fluid input">-->
              <!--<div class="ui label">-->
                <!--Due date-->
              <!--</div>-->
              <!--<input type="date" placeholder="Not Sure" style="padding-right: 0px !important;">-->
            <!--</div>-->
            <!--<div class="field ui labeled fluid input">-->
              <!--<div class="ui label">-->
                <!--Estimate hours-->
              <!--</div>-->
              <!--<input type="number" placeholder="Not Sure">-->
            <!--</div>-->
            <!--<div class="field ui action fluid left icon input">-->
              <!--<i class="wait icon"></i>-->
              <!--<input type="number" placeholder="Work hours">-->

              <!--<div class="ui button">Submit</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

<script>
    $(".ui.dropdown").dropdown();
    $(".ui.checkbox").checkbox();
    $(".ui.accordion").accordion();
    $("header").hide().transition('fade');
    $("footer").hide().transition('fade');
    $(".launch.button").hide().transition('fade');

    $('#page-sidebar').sidebar('setting', {
        dimPage: false,
        transition: 'overlay',
        mobileTransition: 'overlay',
        closable: false
    });

    $('#page-content, #page-menu').on('touchstart click', function (event) {
        event.preventDefault();
        if (!$('#page-sidebar').hasClass("overlay") || !$('.sidebar').hasClass("animating"))
            $('#page-sidebar').sidebar('hide');
    });

    $('#page-launch-button').on('touchstart click', function (event) {
        event.preventDefault();
        if (!$('#page-sidebar').hasClass("overlay") || !$('.sidebar').hasClass("animating"))
            $('#page-sidebar').sidebar('toggle');
    });

    resizlistheight();
    function resizlistheight() {
        $(".ui-list-wrapper").height($(window).height() - 140);
        $(".ui-list-content").height($(window).height() - 200);
    }
    $(window).on('resize', function() {
        resizlistheight();
    });
    $(window).on('zoom', function() {
        resizlistheight();
    });

    $(".ui-popup").popup({
        position: 'bottom center',
        transition: 'fade',
        className: {
            popup: 'ignored ui popup'
        },
        on: 'click'
    });

    /*
     for (var i = 0; i < 10; i++) {
     $("#list-content").append($("#sample-task").clone());
     }

     for (var i = 0; i < 10; i++) {
     $("#board-content").append($("#sample-list").clone());
     }
     */

    //$("#list-content").append($("#task-new").clone());

    //$("#board-content").append($("#list-new").clone());

    $(".ui-task").click(function () {
        $('.ui.modal').modal({
            transition: 'slide down',
            duration: '100ms'
        }).modal('show');
    });

//    $(document).ready(function() {
//        $(".ui-list").each(function (index, value) {
//            var $this = $(this);
//            $this.hide();
//            setTimeout(function () {
//                $this.transition('fade');
//            }, index * 50);
//        });
//    });

    $(".ui-edit-button, .ui-back-button").click(function () {
        var flip_parent = $(this).closest(".ui-flip");
        flip(flip_parent);
        var fade_parent = $(this).closest(".ui-toggle");
        toggle(fade_parent);
    })

    function toggle(ui) {
        var front = $(ui).find(".ui-toggle-front");
        var back = $(ui).find(".ui-toggle-back");
        front.toggle();
        back.toggle();
    }

    function flip(ui) {
        var front = $(ui).find(".ui-flip-front");
        var back = $(ui).find(".ui-flip-back");
        if (!front.hasClass("hidden")) {
            front.transition('horizontal flip', '100ms', function () {
                back.transition('horizontal flip', '100ms');
            });
        } else {
            back.transition('horizontal flip', '100ms', function () {
                front.transition('horizontal flip', '100ms');
            });
        }
    }
</script>
