<div class="background-cover"></div>
<header class="ui main borderless fixed inverted large menu ui grid page" id="page">
  <div class="item">
    <i class="rocket icon"></i> All boards
  </div>
  <div class="item ui tablet only computer only row column">
    <div class="ui icon buttons" id="view-mode">
      <div class="ui button basic inverted disabled">Mode</div>
      <div class="ui button yellow inverted active"><i class="list icon"></i></div>
      <div class="ui button red inverted"><i class="sitemap icon"></i></div>
    </div>
    <div class="ui buttons">
      <div class="ui icon button blue inverted">
        <i class="plus icon"></i>
        New board
      </div>
    </div>
  </div>
  <div class="right menu">
    <div class="ui dropdown item">
      <img class="ui avatar image" src="img/square-image.png">
      <span>User</span>
      <i class="caret down icon"></i>

      <div class="menu">
        <a class="item"><i class="settings icon"></i> Settings</a>
        <a class="item"><i class="sign out icon"></i> Log out</a>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="ui grid page">
    <div class="ui grid" id="pinned-boards">
      <div class="ui column">
        <div class="ui medium header">
          <i class="pin icon"></i>

          <div class="content">
            Pinned
          </div>
        </div>
      </div>
      <div>
        <div class="ui grid stackable three column" id="pinned-boards-content">
          <div class="ui column" id="sample-pinned-board">
            <div class="ui card" style="width: auto;">
              <div class="content">
                <i class="right floated pin link icon active"></i>

                <div class="header">HackMD</div>
                <div class="meta">
                  updated <%= time_ago_in_words(Time.now - 14400000) %> ago
                  <!--updated 2 days ago-->
                </div>
                <div class="description">
                  <p>HackMD is a real-time collaborate note which syntax in Markdown.</p>
                </div>
              </div>
              <div class="extra content">
                <div class="ui labels">
                  <div class="ui teal label">
                    WIP
                    <div class="detail">214</div>
                  </div>
                  <div class="ui blue label">
                    Done
                    <div class="detail">84</div>
                  </div>
                </div>
                <div class="right floated author">
                  <div style="display: inline">
                    <a class="ui circular label people">
                      CH
                    </a>

                    <div class="ui popup">
                      <div class="item">
                        <img class="ui avatar image" src="img/sample-avatar.jpg"> Cheng-Han Wu
                      </div>
                    </div>
                  </div>
                  <div style="display: inline">
                    <a class="ui circular label people">
                      G+
                    </a>

                    <div class="ui popup">
                      <div class="item">
                        <img class="ui avatar image" src="img/square-image.png">
                        Chi-Cha Sun
                      </div>
                    </div>
                  </div>
                  <div style="display: inline">
                    <a class="ui circular label people">
                      YC
                    </a>

                    <div class="ui popup">
                      <div class="item">
                        <img class="ui avatar image" src="img/square-image.png">
                        Yi-Chun Lin
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui grid" id="other-boards">
      <div class="ui column">
        <div class="ui medium header">
          <div class="content">
            Others
          </div>
        </div>
      </div>
      <div>
        <div class="ui grid stackable three column" id="other-boards-content">
          <div class="ui column" id="sample-other-board">
            <div class="ui card" style="width: auto;">
              <div class="content">
                <i class="right floated pin link icon"></i>

                <div class="header">BigLaw</div>
                <div class="meta">
                  updated 2 months ago
                </div>
                <div class="description">
                  <p>BigLaw is a web service provide law and judgement analysis.</p>
                </div>
              </div>
              <div class="extra content">
                <div class="ui labels">
                  <div class="ui teal label">
                    WIP
                    <div class="detail">15</div>
                  </div>
                  <div class="ui blue label">
                    Done
                    <div class="detail">5</div>
                  </div>
                </div>
                <div class="right floated author">
                  <a class="ui circular label people">
                    CH
                  </a>

                  <div class="ui popup">
                    <div class="item">
                      <img class="ui avatar image" src="img/sample-avatar.jpg"> Cheng-Han Wu
                    </div>
                  </div>
                  <a class="ui circular label people">
                    BH
                  </a>

                  <div class="ui popup">
                    <div class="item">
                      <img class="ui avatar image" src="img/square-image.png"> Bo-Hong Li
                    </div>
                  </div>
                  <a class="ui circular label people">
                    2 more
                  </a>

                  <div class="ui popup">
                    <div class="ui list">
                      <div class="item">
                        <img class="ui avatar image" src="img/square-image.png">
                        &nbsp;
                        Yi-Chun Lin
                      </div>
                      <div class="item">
                        <img class="ui avatar image" src="img/square-image.png">
                        &nbsp;
                        Chi-Cha Sun
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'common/footer' %>

<script>
    //    for (var i = 0; i < 10; i++) {
    //        $("#pinned-boards-content").append($("#sample-pinned-board").clone());
    //        $("#other-boards-content").append($("#sample-other-board").clone());
    //    }
    $(".ui.dropdown").dropdown();
    $('#view-mode *').on('click', function () {
        $(this).addClass('active').siblings().removeClass('active');
    });
    $(".pin").state();
    $(".people").popup({
        position: 'top right',
        transition: 'fade',
        className: {
            popup: 'ignored ui popup'
        },
        on: 'click'
    });
    $(".card").each(function (index, value) {
        var $this = $(this);
        $this.hide();
        setTimeout(function () {
            $this.transition('fade up');
        }, index * 50);
    });
    $("header").hide().transition('fade');
    $("footer").hide().transition('fade');
</script>
