<footer class="ui grid page footer">
  <div class="ui column">
    <div class="ui left floated column divided large horizontal list">
      <div class="item">
        &copy 2014 MeiGic
      </div>
    </div>
    <div class="ui right floated column divided large horizontal list">
      <div class="item">
        <a>
          Terms of Service
        </a>
      </div>
    </div>
  </div>
</footer>